.gameCard {
  @include flex(column);
  align-items: flex-start;
  background-color: #fff;
  border: 1px solid #acacac;
  border-radius: 10px;
  box-shadow: 0.3px 0.3px 5px rgba(0, 0, 0, 0.3);
  margin: $sm-size;
  padding: $m-size;
  width: 23%;
}

.gameCard * {
  margin: 0.5rem 0;
}

.gameCard img {
  width: 100%;
}

.gameCard button {
  align-self: flex-end;
  padding: $sm-size $m-size;
}
